:root {
  --clr: #511f50;
  --clr-alt: #ca5e98;
  --clr-light: #f7f2f8;
  --clr-white: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
