@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;900&display=swap');

:root {
  --clr: #511f50;
  --clr-alt: #ca5e98;
  --clr-light: #f7f2f8;
  --clr-white: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 0.95rem;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  color: black;
  font-family: 'Spartan', Roboto, 'Helvetica Neue', sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
